@model FinancialApp.Models.Budget

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Household Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            Budget:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Budget Amount:
        </dt>
        <dd>
            
        </dd>

    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
             Category Name   
            </th>
            <th>
                Budgeted Amount
            </th>
            <th>
               Actual dollar spent
            </th>
            <th>
                Balance
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.BudgetItems)
            {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
             
                

                <td>

                </td>

                <td></td>


            </tr>
        }

    </tbody>
</table>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
